<div class="container">
<div class="card">
  <div class="card-body">
<h4>Search Completed Tasks</h4>
<%= search_form_for @q, url: completed_tasks_tasks_path, html: {class: "mb-1"} do |f| %>
  <div class="row">
  <div class="col-md-4">
    <%= f.label :task_name %>
    <%= f.search_field :task_name_cont, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :category %>
    <%= f.select :category_eq, options_for_select(Task.categories.map {|key, value| [key.titleize, Task.categories.key(value)]}), {}, {class: "form-control"} %>
  </div>
  <div class="col-md-4">
    <%= f.label :priority %>
    <%= f.select :priority_eq, options_for_select(Task.priorities.map {|key, value| [key.titleize, Task.priorities.key(value)]}), {}, {class: "form-control"} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <%= f.submit class: 'btn btn-info mt-1 btn-block' %>
        </div>
        <div class="col-md-6">
          <%= link_to "Reset", completed_tasks_tasks_path, class: "btn btn-outline-info mt-1 btn-block", data: {turbolinks: false} %>
        </div>
      </div>
    </div>
</div>
<% end %>
  </div>
</div>

<h2 class="mt-3">Completed Tasks List</h2>
<table class="table table-bordered" id="my_to_do_list">
  <thead>
    <tr>      
      <th><%= sort_link(@q, :task_name, default_order: :desc) %></th>
      <th><%= sort_link(@q, :category, default_order: :asc) %></th>
      <th><%= sort_link(@q, :priority, default_order: :asc) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task_<%= task.id %>">
        <td><%= task.task_name %></td>
        <td><%= task.category %></td>
        <td><%= task.priority %></td>
        <td>
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Show', task, class: "dropdown-item", data: {toggle: 'modal', target: '#todoDisplayModal', remote: true} %>
                <%= link_to 'Edit', edit_task_path(task), class: "dropdown-item", data: {toggle: 'modal', target: '#todoEditModal', remote: true} %>
                <%= link_to 'Move to My To-Do List', task_status_update_task_path(task, status: false), method: :patch, class: "dropdown-item", remote: true %>
              </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path, class: 'btn btn-info mb-5 btn-block', data: {turbolinks: false} %>
</div>

<div class="modal fade" id="todoDisplayModal" tabindex="-1" aria-labelledby="todoDisplayModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="todoEditModal" tabindex="-1" aria-labelledby="todoEditModalLabel" aria-hidden="true">

</div>