<div class="container">

<h1>Tasks</h1>

<table class="table table-bordered" id="my_to_do_list">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Category</th>
      <th>Priority</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task_<%= task.id %>">
        <td><%= task.task_name %></td>
        <td><%= task.category %></td>
        <td><%= task.priority %></td>
        <td>
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Show', task, class: "dropdown-item", data: {toggle: 'modal', target: '#todoDisplayModal', remote: true} %>
                <%= link_to 'Edit', edit_task_path(task), class: "dropdown-item", data: {toggle: 'modal', target: '#todoEditModal', remote: true} %>
                <%= link_to 'Completed', task_completion_task_path(task, status: true), method: :patch, class: "dropdown-item", remote: true %>
              </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
</div>

<div class="modal fade" id="todoDisplayModal" tabindex="-1" aria-labelledby="todoDisplayModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="todoEditModal" tabindex="-1" aria-labelledby="todoEditModalLabel" aria-hidden="true">
</div>

<script>
  $(document).ready(function() {
      $('#my_to_do_list').DataTable();
  } );
</script>